GLFW_ICON ICON "rguistyler.ico"

1 VERSIONINFO
FILEVERSION     3,5,0,0
PRODUCTVERSION  3,5,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "raylib technologies"
      VALUE "FileDescription", "rGuiStyler - A simple and easy-to-use raygui styles editor"
      VALUE "FileVersion", "3.5"
      VALUE "InternalName", "rguistyler"
      VALUE "LegalCopyright", "(c) 2022 raylib technologies (@raylibtech)"
      //VALUE "OriginalFilename", "raylib_app.exe"
      VALUE "ProductName", "rGuiStyler"
      VALUE "ProductVersion", "3.5"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
